body {font-family:Arial;font-size:62.5%;line-height:1.5em;color:#000;padding:0;margin:0;}

/***** GENERAL STYLES *****/
a,a:link,a:active,a:visited{text-decoration:underline;}
fieldset{margin:0;padding:0;border:0 none;}
label{font-size:1.1em;font-weight:bold;}
h1{font-size:1.4em;margin:0;padding:0;font-weight:bold;}
h2{font-size:1.2em;margin:0;padding:0;font-weight:bold;}
.inputspacer{height:10px;}
.txtbox{width:285px;height:23px;padding:0 5px 0 5px;border:1px solid #C6C6C6;font-size:1.1em;}
.txtarea{width:290px;height:60px;padding:0 0 0 5px;border:1px solid #C6C6C6;font-size:1.1em;}
.selbox{width:297px;height:25px;padding:0 0 0 5px;border:1px solid #C6C6C6;font-size:1.1em;}
.button{width:96%;height:30px;border:0 none;font-size:1.1em;font-weight:bold;cursor:pointer;}
.dark{background-color:#eee;}
.error{color:#F00;padding:5px 0 5px 0;font-size:1.1em;font-weight:bold;}
.clearfloat{clear:both;}

.trash {background-image:url('/1image/trash.png');width:14px;height:20px;padding:0px;border:0px;}
.edit {background-image:url('/1image/edit.png');width:16px;height:20px;padding:0px;border:0px;}

/***** CONTAINERS *****/
#headercontainer{height:70px;}
.logocontainer{width:310px;padding:0 5px 0 5px;margin:0 auto;}
.logo{display:block;width:295px;height:70px;margin:0 auto;}
#searchcontainer{height:53px;padding-top:6px;background-color:#C6C6C6;}
#backcontainer{height:33px;padding-top:7px;background-color:#EBEBEB;}
#maincontainer{background-color:#fff;}
.contentwrapper{min-width:310px;max-width:600px;padding:10px 5px 10px 5px;margin:0 auto;}
#footercontainer{padding:10px 5px 10px 5px;font-size:1.1em;text-align:center;}
#footercontainer a{font-weight:bold;text-decoration:none;}
#footercontainer .copyright{font-weight:bold;}
.category {vertical-align:top;background:url('/1image/minus.png') no-repeat;padding-left:15px;}
.plus {vertical-align:top;background:url('/1image/plus.png') no-repeat;padding-left:15px;}


/* Search Box */
.searchwrapper{width:310px;margin:0 auto;padding:0 5px 0 5px;}
.searchboxbg{width:290px;height:29px;background:url(/1image/search_sprite.png) 0 0 no-repeat;padding:0 0 0 5px;overflow:hidden;}
.searchboxbg table{border-spacing:0;border-collapse:collapse;border:0;}
.searchboxbg table td{padding:0;}
.searchbox{border:0 none;width:260px;height:29px;background-color:#fff;font-family:Arial;font-size:1.1em;padding:0;-webkit-appearance: none;}
.searchbtn{width:24px;height:29px;background:url(/1image/search_sprite.png) -295px 0 no-repeat;border:0;margin:0;padding:0;}
.searchwrapper a{font-size:1.1em;font-weight:bold;}

/* Back */
.backwrapper{width:310px;margin:0 auto;padding:0 5px 0 5px;}
.backlink{display:block;padding:6px 0 0 33px;font-size:1.1em;height:23px;}
.backbtn{display:block;padding:0 0 0 30px;font-family:Arial;font-size:1.1em;height:26px;border:0;margin:0;text-decoration:underline;cursor:pointer;}

/***** ARTICLES *****/
.articlecontext{font-size:1.1em;}

/***** RSS FEED *****/
.feeds{list-style:none;margin:0;padding:0;}
.feeds li{margin-bottom:20px;}
.feeds li .heading{font-size:1.4em;font-weight:bold;}
.feeds li .desc{font-size:1.1em;}


/***** RESTAURANTS LISTING *****/
.listing{list-style:none;margin:0;padding:10px 0 10px 0;}
.listing li{padding:20px 5px 20px 5px;}
.listing li .listitem{width:300px;margin:0 auto;}
.listing li h1 a{text-decoration:none;}
.listing li .listingdetails{border-spacing:0;border-collapse:collapse;border:0;margin-top:10px;}
.listing li .listingdetails td{padding:0 0 4px 0;vertical-align:top;font-size:1.1em;}
.listing li .listingdetails .tdicon{width:25px;}

/***** RESTAURANT DETAILS *****/
.restheading{border-spacing:0;border-collapse:collapse;border:0;width:100%;}
.restheading td{vertical-align:top;}
.restheading .tdheading{width:212px;}
.restheading .tdrating{text-align:right;}
a.booklink{width:100%;height:24px;margin:10px 0 10px 0;padding:6px 0 0 0;border:0 none;font-size:1.1em;font-weight:bold;display:block;text-decoration:none;text-align:center;}
.restdetails{border-spacing:0;border-collapse:collapse;border:0;margin-top:10px;}
.restdetails td{vertical-align:top;padding:0 0 10px 0;font-size:1.1em;}
.restdetails td .booklink{font-size:inherit;}
.restdetails .tdicon{width:30px;}
.restdetails .heading{font-weight:bold;}
.openinghours{border-spacing:0;border-collapse:collapse;border:0;margin-top:5px; font-size:0.9em;}
.openinghours td{padding:4px;}
.openinghours td.header{font-weight:bold;}
.openinghours td.days{padding-right:5px;}
.openinghours td.hours{background-color:#eee;padding-right:5px;}
.reviews{list-style:none;margin:0;padding:0;}
.reviews li{padding:20px 5px 20px 5px;}
.star0{background:url(/1image/stars_sprite.png) 0 0 no-repeat;width:100px;height:20px;}
.star1{background:url(/1image/stars_sprite.png) -100px 0 no-repeat;width:100px;height:20px;}
.star2{background:url(/1image/stars_sprite.png) -200px 0 no-repeat;width:100px;height:20px;}
.star3{background:url(/1image/stars_sprite.png) -300px 0 no-repeat;width:100px;height:20px;}
.star4{background:url(/1image/stars_sprite.png) -400px 0 no-repeat;width:100px;height:20px;}
.star5{background:url(/1image/stars_sprite.png) -500px 0 no-repeat;width:100px;height:20px;}
.reviews .comment{padding-top:5px;font-size:1.1em;}

/***** FEEDBACK *****/
.feedback .legend{ font-size:1.1em; font-weight:bold;color:#FF4500;padding-bottom:10px;}
.feedback .question{font-size:1.1em;font-weight:bold;}
.feedback label{font-weight:normal;font-size:1.1em;}
.feedback label.lblcomments{font-weight:bold;}
.feedback .answers{width:100%;border-spacing:0;border-collapse:collapse;border:0;}
.feedback .answers td{width:20%;}

/*********************************** THEMED STYLES ***********************************/

body{background-color:#000;}
a,a:link,a:active,a:visited{color:#FF4500;}/* all links */
#headercontainer{background-color:#000;border-bottom:0px solid #FF4500;}/* container where the logo sits */
.poweredBar{height: 5px;padding-top:8px;text-align:center;font-weight:bold;font-size:1.1em;color:#FFF;background-color:#FF4500;}
.logo{background:url(/1image/logo.png) 0 0 no-repeat;}/* company logo */
h1,h2,.feeds li .heading{color:#FF4500;}/* headings */
.button{background-color:#FF4500;}/* submit buttons */
.backlink,.backbtn{background:url(/1image/eatout/back.png) 0 0 no-repeat;color:#FF4500;}/* back links */
a.booklink{background-color:#FF4500;color:#000;}/* reservation link */
.icon{width:20px;height:20px;background:url(/1image/eatout/icons_sprite.png) no-repeat;}/* 20px x 20px icons contained in the sprite */
.iconsm{width:15px;height:15px;background:url(/1image/eatout/icons_sprite.png) no-repeat;}/* 15px x 15px icons contained in the sprite */ 
#menucontainer{background-color:#000;}/* container where the menu links are located */
.menu td .menuicon{background:url(/1image/eatout/menu_sprite.png) no-repeat;}/* the menu sprite file */
.menu td .menutext{color:#999;}/* menu text */
#footercontainer{border-top:5px solid #fff;background-color:#FF4500;}/* footer container */
#footercontainer a{color:#000;}/* links in the footer container */
#footercontainer .copyright{color:#fff;}/* copyright text in the footer container */

/*********************************** THEMED STYLES ***********************************/

/***** MENU *****/
.menu{margin:0 auto;margin-top:20px;border-spacing:0;border-collapse:collapse;border:0;}
.menu a{text-decoration:none;display:block;width:60px;}
.menu td{width:105px;padding:0 0 20px 0;vertical-align:top;}
.menu td .menuicon{display:block;width:60px;height:50px;}
.menu td .menu14{background-position:0 0;}
.menu td .menu3{background-position:-60px 0;}
.menu td .menu10{background-position:-120px 0;}
.menu td .menu11{background-position:-180px 0;}
.menu td .menu12{background-position:-240px 0;}
.menu td .menu13{background-position:-300px 0;}
.menu td .menu15{background-position:-360px 0;}
.menu td .menu16{background-position:-420px 0;}
.menu td .menu17{background-position:-480px 0;}
.menu td .menutext{display:block;font-weight:bold;font-size:1.1em;text-align:center;}

/***** ICONS *****/
.addressicon{background-position:0 0;}
.cuisineicon{background-position:-20px 0;}
.telephoneicon{background-position:-40px 0;}
.offericon{background-position:-60px 0;}
.photoicon{background-position:-80px 0;}
.descicon{background-position:-100px 0;}
.priceicon{background-position:-120px 0;}
.servicesicon{background-position:-140px 0;}
.hoursicon{background-position:-160px 0;}
.menuicon{background-position:-180px 0;}
.mapicon{background-position:-200px 0;}
.reviewsicon{background-position:-220px 0;}
.favicon{background-position:-240px 0;}
.bookicon{background-position:-260px 0;}

.addressiconsm{background-position:0 -20px;}
.cuisineiconsm{background-position:-15px -20px;}
.telephoneiconsm{background-position:-30px -20px;}
.offericonsm{background-position:-45px -20px;}
.photoiconsm{background-position:-60px -20px;}
.desciconsm{background-position:-75px -20px;}
.priceiconsm{background-position:-90px -20px;}
.servicesiconsm{background-position:-105px -20px;}
.hoursiconsm{background-position:-120px -20px;}
.menuiconsm{background-position:-135px -20px;}
.mapiconsm{background-position:-150px -20px;}
.reviewsiconsm{background-position:-165px -20px;}
.faviconsm{background-position:-180px -20px;}
.bookiconsm{background-position:-195px -20px;}
